<%- include("./partials/head.ejs") %>

  <%- include("./partials/nav.ejs") %>

  <div class="p-2 relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="p-4 relativeM">
      <label for="table-search" class="sr-only">Buscar</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none" id="svg-search">
          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar Contratos...">
      </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 text-center">
            Tipo de Contrato
          </th>
          <th scope="col" class="px-6 py-3">
            DNI
          </th>
          <th scope="col" class="px-6 py-3">
            Nombre Completo
          </th>
          <th scope="col" class="px-6 py-3">
            Año de ingreso
          </th>
          <th scope="col" class="px-6 py-3">
            Prima anual
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Acción
          </th>
        </tr>
      </thead>
      <tbody>
        <% contract.forEach(item => { %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="text-center px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
              <%= item.tip_cnt %> 
            </th>
            <td class="px-6 py-4">
              <%= item.dni_usr %> 
            </td>
            <td class="px-6 py-4">
              <%= item.nom_usr %>
            </td>
            <td class="px-6 py-4">
              <%= item.yea_cnt %> 
            </td>
            <td class="px-6 py-3">
              <%= item.prm_anu %>
            </td>
            <td class="px-6 py-4 text-center">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500">Editar</a>
              <a href="#" class="font-medium text-red-600 dark:text-red-500">Eliminar</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <button type="button" class="relativeM focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" data-modal-toggle="authentication-modal">
      Nuevo contrato
    </button>
  </div>

  <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
        </button>
        <div class="py-6 px-6 lg:px-8">
          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Registar nuevo contrato</h3>
          <form class="space-y-6" action="">
            <div class="grid gap-6 mb-6 lg:grid-cols-2">
              <select name="tipo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="0">-- Tipo --</option>
                <optgroup>
                  <option value="Vida">Vida</option>
                  <option value="Hogar">Hogar</option>
                  <option value="Vehículo">Vehículo</option>
                </optgroup>
              </select>
              <input type="text" name="dni" placeholder="Número de indentificación" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registar contrato</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include("./partials/footer.ejs") %>